#define MANIFEST 24
#define IDD_DLG6 1401
#define DIALOG_MAIN 1000
#define IDC_GRP 1001
#define INPUT_DLG1_SELECT 1002
#define BUTTON_DLG1_MANAGE_KEYS 1003
#define BUTTON_DLG1_DELETE 1004
#define BUTTON_DLG1_CRYPT 1005
#define INPUT_DLG1_AREA 1006
#define BUTTON_DLG1_COPY 1007
#define STATIC_DLG1_TEXT 1009
#define STATIC_DLG1_COPY 1008
#define DIALOG_MANAGE_KEYS 1100
#define INPUT_DLG2_SELECT 1101
#define BUTTON_DLG2_DELETE 1103
#define BUTTON_DLG2_SAVE 1104
#define IDC_GRP1 1105
#define INPUT_DLG2_TEXT_NAME 1106
#define IDC_GRP2 1107
#define INPUT_DLG2_TEXT_KEY 1102
#define BUTTON_DLG2_ABORT 1108
#define BUTTON_DLG2_COPY 1109
#define BUTTON_DLG2_CHANGE 1110
#define ICON_KEY 101
#define IDR_VERSION1 1
#define DIALOG_PROGRESS_FILE 1200
#define STATIC_DLG3_PATH 1202
#define PROGRESS_DLG3 1201
#define BUTTON_DLG3_ABORT 1203
#define STATIC_DLG3_SPEED 1204
#define IDR_XPMANIFEST1 1
#define DIALOG_CREATE_PASSWORD 1300
#define STATIC_DLG4_STATE 1301
#define STATIC_DLG4_TEXT1 1302
#define INPUT_DLG4_PASSWD1 1303
#define STATIC_DLG4_TEXT2 1304
#define INPUT_DLG4_PASSWD2 1305
#define BUTTON_DLG4_OK 1306
#define BUTTON_DLG4_ABORT 1307
#define STATIC_DLG4_TEXT3 1308
#define STATIC_DLG4_PATH 1309
#define BUTTON_DLG4_CHANGE 1310
#define BUTTON_DLG4_HELP1 1313
#define BUTTON_DLG4_HELP2 1311
#define DIALOG_GET_PASSWORD 1400
#define STATIC_DLG5_TEXT 1402
#define INPUT_DLG5_PASSWD 1403
#define BUTTON_DLG5_OK 1404
#define BUTTON_DLG5_ABORT 1405

#include <winuser.h>

/*LANGUAGE 7,1*/

DIALOG_MAIN DIALOGEX 100,100,195,186
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_MINIMIZEBOX
BEGIN
  CONTROL "",INPUT_DLG1_SELECT,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,6,9,144,174
  CONTROL "",BUTTON_DLG1_MANAGE_KEYS,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,153,9,36,15
  CONTROL "",INPUT_DLG1_AREA,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|ES_WANTRETURN|ES_MULTILINE,3,48,189,123,WS_EX_CLIENTEDGE
  CONTROL "",BUTTON_DLG1_CRYPT,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,93,30,99,15
  CONTROL "",BUTTON_DLG1_DELETE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,3,30,42,15
  CONTROL "",BUTTON_DLG1_COPY,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,48,30,42,15
  CONTROL "",IDC_GRP,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,3,0,189,27
  CONTROL "",STATIC_DLG1_TEXT,"Static",WS_CHILDWINDOW|WS_VISIBLE,102,174,54,9
  CONTROL "© GNU GPLv3",STATIC_DLG1_COPY,"Static",WS_CHILDWINDOW|WS_VISIBLE,6,174,51,12
END

DIALOG_MANAGE_KEYS DIALOGEX 10,10,264,114
CAPTION ""
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_MINIMIZEBOX
BEGIN
  CONTROL "",INPUT_DLG2_SELECT,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,3,3,255,108
  CONTROL "",INPUT_DLG2_TEXT_NAME,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,6,30,252,12,WS_EX_CLIENTEDGE
  CONTROL "",INPUT_DLG2_TEXT_KEY,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,6,57,216,12,WS_EX_CLIENTEDGE
  CONTROL "",BUTTON_DLG2_COPY,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,225,57,33,15
  CONTROL "",BUTTON_DLG2_CHANGE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,66,78,132,15
  CONTROL "",BUTTON_DLG2_DELETE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,6,96,72,15
  CONTROL "",BUTTON_DLG2_SAVE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,84,96,96,15
  CONTROL "",BUTTON_DLG2_ABORT,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,186,96,72,15
  CONTROL "",IDC_GRP1,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,3,21,258,27
  CONTROL "",IDC_GRP2,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,3,48,258,27
END

ICON_KEY ICON DISCARDABLE "key.ico"

IDR_VERSION1 VERSIONINFO
FILEVERSION 6,0,0,0
PRODUCTVERSION 6,0,0,0
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "04070000"
    BEGIN
      VALUE "FileVersion", "6.0.0.0\0"
      VALUE "ProductVersion", "6.0.0.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0407, 0x0000
  END
END

DIALOG_PROGRESS_FILE DIALOGEX 10,10,288,72
CAPTION "IDD_DLG"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_THICKFRAME|WS_MINIMIZEBOX
BEGIN
  CONTROL "STATIC_DLG3_PATH",STATIC_DLG3_PATH,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_PATHELLIPSIS,3,6,282,9
  CONTROL "",PROGRESS_DLG3,"msctls_progress32",WS_CHILDWINDOW|WS_VISIBLE,3,33,282,18
  CONTROL "",BUTTON_DLG3_ABORT,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,93,54,102,15
  CONTROL "STATIC_DLG3_SPEED",STATIC_DLG3_SPEED,"Static",WS_CHILDWINDOW|WS_VISIBLE,3,21,69,12
END

IDR_XPMANIFEST1 MANIFEST "xpmanifest.xml"

DIALOG_CREATE_PASSWORD DIALOGEX 10,10,237,123
CAPTION "IDD_DLG"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_THICKFRAME|WS_MINIMIZEBOX
BEGIN
  CONTROL "IDC_STC",STATIC_DLG4_STATE,"Static",WS_CHILDWINDOW|WS_VISIBLE,3,3,231,12
  CONTROL "",STATIC_DLG4_TEXT1,"Static",WS_CHILDWINDOW|WS_VISIBLE,3,18,54,12
  CONTROL "",INPUT_DLG4_PASSWD1,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_PASSWORD,3,27,231,12,WS_EX_CLIENTEDGE
  CONTROL "",STATIC_DLG4_TEXT2,"Static",WS_CHILDWINDOW|WS_VISIBLE,3,48,96,12
  CONTROL "",INPUT_DLG4_PASSWD2,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_PASSWORD,3,57,231,12,WS_EX_CLIENTEDGE
  CONTROL "",BUTTON_DLG4_OK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,33,105,78,15
  CONTROL "",BUTTON_DLG4_ABORT,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,123,105,78,15
  CONTROL "",STATIC_DLG4_TEXT3,"Static",WS_CHILDWINDOW|WS_VISIBLE,3,78,51,12
  CONTROL "IDC_STC",STATIC_DLG4_PATH,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_PATHELLIPSIS,3,87,198,12
  CONTROL "",BUTTON_DLG4_CHANGE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,204,84,30,15
  CONTROL "?",BUTTON_DLG4_HELP1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,60,18,9,9
  CONTROL "?",BUTTON_DLG4_HELP2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,54,78,9,9
END

DIALOG_GET_PASSWORD DIALOGEX 10,10,237,54
CAPTION "IDD_DLG"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_THICKFRAME|WS_MINIMIZEBOX
BEGIN
  CONTROL "",STATIC_DLG5_TEXT,"Static",WS_CHILDWINDOW|WS_VISIBLE,3,6,231,12
  CONTROL "",INPUT_DLG5_PASSWD,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_PASSWORD,3,18,231,12,WS_EX_CLIENTEDGE
  CONTROL "",BUTTON_DLG5_OK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,33,36,78,15
  CONTROL "",BUTTON_DLG5_ABORT,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,123,36,78,15
END
